.all-user-songs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.all-user-songs[id='1'] {
    background-image: url("../../images/SongCovers/song1.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs[id='2'] {
    background-image: url("../../images/SongCovers/song2.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs[id='3'] {
    background-image: url("../../images/SongCovers/song3.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs[id='4'] {
    background-image: url("../../images/SongCovers/song4.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs[id='5'] {
    background-image: url("../../images/SongCovers/song5.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs[id='9'] {
    background-image: url("../../images/SongCovers/song9.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs[id='10'] {
    background-image: url("../../images/SongCovers/song10.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs[id='11'] {
    background-image: url("../../images/SongCovers/song11.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs[id='12'] {
    background-image: url("../../images/SongCovers/song12.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs[id='13'] {
    background-image: url("../../images/SongCovers/song13.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs[id='14'] {
    background-image: url("../../images/SongCovers/song14.jpg");
    background-size: cover;
    font-size: 25px;
}

.all-user-songs {
    width: 250px;
    height: 250px;
    font-family: sans-serif;
    text-align: center;
    line-height: 250px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 25px 0 black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: url("../../images/defaultImage.png");
    background-size: cover;
}

.h1-all-user-songs-title {
    font-family: Helvetica;
    color: black;
    font-size: 55px;
    margin-left: 38px;
    font-weight: 400;
}

.nav-link {
    text-decoration: none;
}
