.home-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: black;
}

#title-note {
    color: aqua;
    font-size: 120px;
}

#title-note-two {
    color: aqua;
    font-size: 190px;
}

.title-note-container {
    padding-left: 290px;
    padding-top: 50px;
    position: absolute;
}

.title-note-container-bottom {
    padding-top: 350px;
    padding-right: 570px;
    position: absolute;
}

#big-cloud {
    color: white;
    font-size: 450px;
    margin-top: 30px;
    position: absolute;
}

.title-cloud {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-cloud-text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding-top: 190px;
    position: absolute;
    padding-right: 480px;
    padding-left: 475px;
    text-align: center;
}

.title-cloud-para {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    padding-top: 280px;
    position: absolute;
    padding-right: 400px;
    padding-left: 390px;
}

.title-cloud-link {
    margin-top: 370px;
    position: absolute;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: blueviolet;
    border-radius: 25px;
}

.nav-link-title-cloud {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
}

.left-group {
    padding-top: 40px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-group {
    padding-top: 120px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#b-one {
    color: white;
    font-size: 230px;
}

#b-two {
    color: white;
    font-size: 230px;
}

#b-note-one {
    color: blueviolet;
    font-size: 100px;
    position: absolute;
}

#b-note-two {
    color: blueviolet;
    font-size: 90px;
    position: absolute;
    margin-top: 172px;
    margin-right: 47px;
}
