.home-page-container {
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
    height: 125vh;
    background-image: url('../../images/el-soundcloud.jpg');
    background-size: cover;
}

/* .home-title {
    font-family: sans-serif;
    color: white;
    font-size: 50px;
} */
